<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./layouts/headLinks.ejs') %> 
</head>
<body>
    <%- include ('./layouts/navbar.ejs') %> 
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-6 col-12 mx-auto">
        <div class="row">
            <!-- left side div -->
            <div class="col-md-12 col-12 main_header_left align_items_center">
                <center><figure class="errimg">
                    <img src="images/404error.png" alt="sahu" class="img-fluid" title="sahu">
                </figure>
            
                <p>Sorry for the inconvenience</p>
                <h1><span class="text_clr">Oops!</span> Page Not Found</h1>
                <a href="/"><button>Go Back</button></a></center>
            </div>
                <!-- right side div -->
            
        </div>
        </div>
        </div>
    </div>
    <!-- footer code -->
    <%- include ('./layouts/footer.ejs') %> 

</body>
</html>